<app-template-full-width [secondaryBgColor]="true" *ngIf="collection$ | async as collection">
  <app-txt-bandeau class="title">
    <h1>All Orders</h1>
  </app-txt-bandeau>
  <!-- {{ collection | json }} -->
  <app-tableau-light  [headers]="listHeaders">
    <tr *ngFor="let item of collection">
      <td>
        <app-icon-delete (click)="delete(item)"></app-icon-delete>
        <app-icon-edit (click)="goToEdit(item)"></app-icon-edit>
      </td>
      <td>{{ item.typePresta  }}</td>
      <td>{{ item.client }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency }}</td>
      <td>{{ item.tjmHt | total: item.nbJours | currency }}</td>
      <td>{{ item.tjmHt | total: item.nbJours: item.tva | currency }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
          <!-- <option value="CANCELED" selected="false">CANCELED</option>
          <option value="OPTION" selected="false">OPTION</option>
          <option value="CONFIRMED" selected="true">CONFIRMED</option> -->
        </select>
      </td>
    </tr>
  </app-tableau-light>

  <app-button href="http://www.google.fr" label="Go to Google"></app-button>
  <app-button route="add" label="Add an order"></app-button>
  <app-button [action]="true" label="Open a popup" (clicked)="openPopUp()"></app-button>

  <app-txt-page>
    <h1>one title</h1>
  </app-txt-page>
</app-template-full-width>
